
/*tag*/
body{
    background-image: url("../img/background_rocket.png");
  
    color: white;
    font-family: Arial thin;
}
input:focus,button:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}
/*class*/
.bloco{
    /*background-color: #191e2e;*/
    background-color: #1b2134;
    border: solid 1px #1b2336;
    border-radius: 15px;
}
.soro,.ciclo{
    background-color: #c94c4c;  
    color: black;
}
.mg{
    background-color: #68ff81;
}

/*id*/
#porcento,#valor,#mg,#soros,#ciclos,#ciclosoros,#m1,#m5{
    cursor: pointer;
}
#bloco_info{
    font-size: 18px;
    position: absolute;
    padding: 10px;
    width: 550px;
    height: 90px;
}
#bloco_input{
    font-size: 18px;
    position: absolute;
    padding: 10px;
    width: 560px;
    height: 90px;
    right: 0;
    margin-right: 10px;
}
#bloco_input input[type="number"]{
    width: 70px;
    height: 13px;
    border: solid 1px black;
    border-radius: 5px;
    font-weight: bold;
    padding: 2px 2px 2px 2px;
    text-align: center;
}
#div1{
    width: 150px;
    height: 45px;
    position: absolute;
}
#div2{
    width: 300px;
    height: 45px;
    position: absolute;
    margin-left: 150px;
}
#div3{
    
    margin-left: 5px;
    width: 540px;
    height: 45px;
    position: absolute;
    margin-top: 45px;
}
#div4{

    width: 180px;
    height: 45px;
    position: absolute;
    margin-right: 30px;
    right: 0;
}
#bloco_estrategias{
    
    font-size: 18px;
    position: absolute;
    padding: 10px;
    width: 550px;
    height: 432px;
    margin-top: 130px;
}
#bloco_estrategias input[type="number"]{
    width: 60px;
    height: 13px;
    border: solid 1px black;
    border-radius: 5px;
    font-weight: bold;
    padding: 2px 2px 2px 2px;
    text-align: center;
}
#div_e1{
    width: 100%;
    height: 20%;
}
#div_e1_item1{
    margin-top: 10px;
    position: absolute;
    left: 0;
    width: 150px;
    height: 60px;
    margin-left: 15%;

    
}
#div_e1_item2{
    margin-top: 10px;
    position: absolute;
    right: 0;
    width: 150px;
    height: 60px;
    margin-right: 15%;
    
}
#div_e2{
    position: absolute;

    width: 180px;
    height: 115px;
    left: 0;
    margin-left: 70px;
}
#div_e2 input{
    right: 0;
    margin-left: 30px;
}
#div_e3{
    position: absolute;
    right: 0;

    width: 250px;
    height: 160px;
    margin-right: 20px;
    
    padding-left: 18px;
    border-left: solid 1px #131825;
}
#div_e4{
    text-align: center;
    position: absolute;
    
    width: 550px;
    height: 170px;
    margin-top: 120px;
    padding-top: 8px;
    border-top: solid 1px #131825;
    
}
#div_grade{ 
    margin-bottom: -20px;
    text-align: left;
}
#bloco_resultados{
    text-align: center;
    right: 0;
    margin-right: 10px;
    font-size: 18px;
    position: absolute;
   
    width: 580px;
    height: 370px;
    margin-top: 130px;
}
#bloco_acoes{
    right: 0;
    bottom: 0;
    margin-right: 10px;
    font-size: 18px;
    position: absolute;
    padding: 10px;
    width: 560px;
    height: 45px;
    margin-bottom: 8px;
}
#bloco_acao1{

    position: absolute;
    left: 0;
    margin-left: 10px;
}
#bloco_acao2{
   font-weight: bold;
    position: absolute;
    margin-left: 180px;
}
#bloco_acao3{
    text-align: center;
    
    position: absolute;
    width: 380px;
    height: 50px;
    margin-left: 200px;
 }
#bloco_acao3 button{
    font-size: 18px;
    
    cursor: pointer;
    text-align: center;
    height: 40px;
    width: 100px;
    margin-top: 4px;
    
    border-radius: 5px;
 }
 #bloco_acao3 button:active{
    background-color: #252525;
    border: solid 1px #252525;
 }
 #sapmhi{
    background-color: #8400ff;
    border: solid 1px #8400ff;
    transition: background-color 0.2s;
    transition: border 0.2s;
}
#sapmhi:hover{
    background-color: #6701c7;
    border: solid 1px #6701c7;
}
#parar{
    background-color: #fa2121;
    border: solid 1px #fa2121;
    transition: background-color 0.2s;

}
#parar:hover{
    background-color: #c21b1b;
    border: solid 1px #c21b1b;
}
#iniciar{
    background-color: #11ff39;
    border: solid 1px #11ff39;
    transition: background-color 0.2s;
    transition: border 0.2s;
}
#iniciar:hover{
    background-color: #24b43c;
    border: solid 1px #24b43c;
}
#div_resultados_op{
    position: absolute;
    background-color: white;
    overflow: auto;
    width: 570px;
    height: 300px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}
#div_avisos_title{
    margin-top: 5px;
    margin-bottom: -28px;
}
#troca_tipo_conta{
    cursor: pointer;
    color: black;
    font-size: 15px;
    font-family: Roboto;
    font-weight: bold;
    border:solid 1px white;
    border-radius: 3px;
}
#troca_tipo_conta:hover{
    border:solid 1px lightgray;
    background-color: lightgray;
    transition: background-color 0.2s; 
}
#troca_tipo_conta:active{
    border:solid 1px #5e5e5e;
    background-color: #5e5e5e;
}
#icon_status{
    width: 30px;
    height: 30px;
    margin-bottom: -8px;
    margin-top: -5px; 
}
#div_icon_status{
    margin-left: 92%;
}
#div_text_status{
    position: absolute;
    width: 420px;
}
.div_item{
    font-weight: bold;
    color: black;
    font-size: 18px;
    text-align: left;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
    border-bottom: solid 1px #b3b3b3;
}


